.env
.venv
database.database
database.db
diagram.png
public/*
dist/*
package.json
!.vscode
__pycache__/

# Node modules de proyectos de video
sqlalchemy-video/node_modules/
poo-flask-video/node_modules/